.skills {
  padding: 10px 20px;
  text-align: center;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.skills-subtitle {
  color: #666;
  margin-bottom: 40px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.skill-card {
  padding: 18px;
   background: #fca311;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}